@charset "UTF-8";

span{
    
}

header h1{
    margin: 25px 0 27px 0;

}

.top{

}

.site-title{
    font-size: 140%;
}

.product-list p{
    font-size:12px;
    font-weight:400;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

.product-list img{
    width: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.menu li{
    margin-right: 15px;
}