@charset "UTF-8";

#navi-mozi li{
    list-style: none;
}

.site-title{
    font-size: 135%;
    margin: 22px 0 27px 0;
    letter-spacing: 0.5px;
}

/*main*/

.product-list p{
    font-size:12px;
    font-weight:400;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    padding-top: 10px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

.product-list img{
    width: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto 30px;
    padding: 0 40px;
}

.menu li{
    margin-right: 0px;
}

.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

/*footer*/

#F-menu ul{
    display: flex;
    justify-content: flex-start;
}

#F-menu li{
    list-style: none;
    width: -70px;
}

.copyright{
    display: flex;
    justify-content: flex-end;
}

/*item1.html*/

/*ここからitemのデザイン*/
.item{
    display: flex;
    max-width: 950px;
    justify-content: space-between;
}

.item-img{
    width: 42%;
}
.item-text{
    width: 51%;
    font-size:14px;
    font-weight:400;
}

.item-img img{
    width: 100%;
}

.page-title{
    font-size: 14px;
    font-weight:400;
    margin-bottom: 30px;
}

.item .item-text p{
    margin-bottom: 20px;
}

/*テーブルの編集*/
.item table th{
    text-align: left;
    font-weight: none;
}



/*レスポンシブ対応デザイン*/
@media(max-width: 600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }

    .site-title img{
        height: 24px;
        width: auto;
    }
}