@charset "UTF-8";

span{
    
}

.navi-mozi li{
    list-style: none;
}

header h1{
    margin: 23px 0 27px 0;
    letter-spacing: 0.5px;
}

.top{

}

.site-title{
    font-size: 140%;

}

.product-list p{
    font-size:12px;
    font-weight:400;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    padding-top: 10px;
}

li{
    text-decoration: none;

}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

#footer ul{
    display: flex;
    justify-content: space-between;
}

.product-list img{
    width: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.menu li{
    margin-right: 0px;
}

.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;
}

/*レスポンシブ対応デザイン*/
@media(max-width: 600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }

    .site-title img{
        height: 24px;
        width: auto;
    }
}