@charset "UTF-8";

h2,p,a,li,td,th,h1{color: white;}

.back-img{
    z-index: 1;
    position: relative;
    width: 100%;
    top: 40px;
}

.site-title{
    z-index: 2;
    position: relative;
    font-size: 1500%;
    letter-spacing: 1px;
    font-weight: 500;
    translate: 2vw -41vh;
    color: white;
    margin-right: 100px;
}

a{
    text-decoration: none;
}

.navbar{
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 550px;
}

.navbar-nav{
    margin-left: 640px;
}

.nav-item a{
    font-size: 17px;
    margin-bottom: -17px;
    margin-left: 30px;
    opacity: 1;
}

.nav-link :hover{
    color: rgb(82, 121, 221);
}

.navbar-brand{
    font-size: 43px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: -2px;
}

.navbar-min{

}

/*スライドメニュー*/
.nav-humberger{
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 5;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .menu-inner {
  padding: 25px;
}
nav .menu-inner .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .menu-inner .menu-list li {
  position: relative;
  margin: 0;
}
nav .menu-inner .menu-list li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .menu-inner .menu-list li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 600px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 5;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0px;
  width: 40px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 15px;
}
.toggle_btn span:nth-child(3) {
  bottom: 2px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(315deg);
  transform: translateY(-12px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 4;
  cursor: pointer;
}



/*main*/

body{
    background-color: #6c707e;
}

.sub-title{
    text-align: center;
    margin-top: 100px;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 500;
}

.my-list{
    font-size: 18px;
    font-weight:350;
    margin-top: 95px;
    margin-left: 60px;
}

.my-text3{
    padding: 0 30px 10px 30px;
    border-bottom: 1px solid #333;
}

.my-text{
    padding: 17.5px 30px 17.5px 30px;
    border-bottom: 1px solid #333;
    
}

.my-photo{
    z-index: 1;
    position: relative;
    translate: 60vw -68.5vh;
}

.sub-title2{
    margin-top: -320px;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
}

.carousel-inner{
    margin: auto;
    margin-top: 65px;
    width: 74.5%;
}


.same-main{
    margin-top: -250px;
}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto 30px;
    padding: 0 40px;
}

.menu li{
    margin-right: 0px;
}

.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

/*footer*/

#F-menu ul{
    display: flex;
    justify-content: space-between;
}

.F-main{
    list-style: none;
    font-size: 20px;
    border-style: 1px solid white;
    padding-top: 10px;
}

.F-link{
    list-style: none;
    font-weight: 400;
    font-size: 17px;
    padding-top: 12px;
}

.F-link a:hover{
    color: #7dacdb;
}

.copyright{
    max-width: 800;
    font-weight: 300;
    margin-left: 620px;
    padding-top: 12px;
}

/*item1.html*/

/*ここからitemのデザイン*/
.item{
    display: flex;
    max-width: 950px;
    justify-content: space-between;
}

.item-img{
    width: 42%;
}
.item-text{
    width: 51%;
    font-size:14px;
    font-weight:400;
}

.item-img img{
    width: 100%;
}

.item .item-text p{
    margin-bottom: 20px;
}

/*テーブルの編集*/
.page-title{
    font-size: 14px;
    font-weight:400;
    margin-bottom: 30px;
    margin-top: 70px;
}

.item{
    display: flex;
    max-width: 950px;
    justify-content: space-between;
}

.item-img{
    width: 42%;
}
.item-text{
    width: 51%;
    font-size:14px;
    font-weight:400;
}

.item-img img{
    width: 100%;
}

.item .item-text p{
    margin-bottom: 20px;
}

/*COMPANY*/
.info{
    padding-bottom: 50px;
}

#company{
    max-width: 600px;
    margin: 0 0 0 40px;
}

#company .info{
    width: 100%;
    border-collapse: collapse;
    /*テーブルの隙間を実線にする*/
}

#company .info th,
#company .info td{
    font-weight: normal;
    border-bottom: 1px solid #dcdbdb;
    padding: 20px 10px;
    font-size: 14px;
}

/*左の項目*/
#company .info th{
    width: 30%;
    text-align: left;
    vertical-align: top;
}

/*左の項目*/
#company .info td{
    width: 70%;
}

/*最後の行だけ下線を消す*/
#company .info tr:last-child th,
#company .info tr:last-child td{
    border-bottom: none;
}


/*Google Map*/
#company .map{
    filter: grayscale(1);
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}


/*-contact-*/
#contact-form{
    max-width: 600px;
}

#contact-form input{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
}

#contact-form input[type="checkbox"],
#contact-form input[type="radio"]{
    width: auto;
    padding: 0;
    border: 0;
}

.select-list{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
}

option .option-1{
    color: rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.7rem 1.7rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  text-align: center;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #2186ea;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #499ff4;
}

#reset-btn{
    margin-left: 50px;
    background-color: rgb(221, 42, 42);
}

#reset-btn:hover{
    background-color: rgb(246, 138, 138);
}

/*レスポンシブ対応デザイン*/
@media(max-width: 600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }

    .site-title img{
        height: 24px;
        width: auto;
    }

    .copyright{
        display: flex;
        margin: 1px;
    }

    /*item*/
    .item{
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text{
        width: 100%;
    }

/*company*/
    #company .info th,
    #company .info td{
        display: block; /*thやtdをただのdivと同じように扱う*/
        width: 100%;
        border-bottom: none; /*thとtdの下の線を消す*/
        padding: 10px 0px; /*上と下の余白は消して、左右は10pxにする*/
    }

    #company .info tr{
        border-bottom: 1px solid #dcdbdb;
        margin-right: 50px;
        padding: 20px 0px;     
    }

    #company .info th{
        padding-bottom: 2px;
    }

    #company .info td{
        margin-bottom: 8px;
    }

    #company .map {
        width: 90%;
    }

    form{
        max-width: 600px;
    }
}